.button {
    /* width: 100%; */
    border: none;
    border-radius: 6px;
    color: #FFFFFFFF;
    background: #A87272;
    font-size: 16px;
    /* height: 45px; */
    /* margin-top: 10px; */
    padding: 5px;
}

.button:hover {
    background: #976262
}

.button:active {
    background: #804848;
}