body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 32px;
  color: #171A1FFF; 
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  color: #9095A0FF;
  margin-top: 5px;
  margin-bottom: 5px;
}

main {
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}