.bg {
  width: 100%;
  margin: 0;
  max-height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.login {
  padding: 20px;
  padding-top: 30px;
  border-radius: 12px;
  margin-top: -20px;
  z-index: 10000;
  position: relative;
  background: white;
}

.loginBtn {
  width: 100%;
  border: none;
  border-radius: 6px;
  color: #FFFFFFFF;
  background: #00BDD6FF;
  font-size: 16px;
  height: 45px;
  margin-top: 10px;
}

.loginBtn:hover {
  background: #00A9C0FF
}

.loginBtn:active {
  background: rgb(0, 138, 156);
}

.input {
  margin-top: 30px;
}

.input input {
  background: #F3F4F6FF;/* neutral-200 */
  border-radius: 6px;/* border-m */  
  border-width: 0px;
  outline: none;
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding-left: 44px;
}

.input svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #171A1FFF;
  margin-left: 15px;
  margin-top: 13px;
}

.input p {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 600;
}

.socialLogins {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.socialLogins p {
  color: #6E7787FF
}